.account-detail h2 {
	color: white;
	padding-top: 6px;
}
.account-detail h1 {
	padding: 9px 10px 9px 10px;
	font-size: 1.8rem;
	background-color: #2a2a2a;
	color: #b0b0b0;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 1.33rem;
}
.account-detail h1 i {
	margin-right: 10px;
}
.account-detail h1 input {
	width: fit-content;
	background-color: transparent;
	outline: none;
	border: none;
}
.account-detail h1 input,
.account-detail h1 input::placeholder {
	color: #b0b0b0;
	text-transform: capitalize;
}
.account-detail h1.textarea {
	padding-left: 50px;
	padding-bottom: 40px;
}
.account-detail h1 textarea {
	width: 100%;
	margin: auto;
	background-color: transparent;
	border: none;
	outline: none;
	color: #b0b0b0;
	line-height: 1.6;
	text-transform: capitalize;
}
.account-detail h1 textarea::placeholder {
	color: #b0b0b0;
}
.account-detail button {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 2rem;
	border-radius: 10px;
	background-color: var(--primary);
	color: black;
	margin-top: 20px;
	margin-bottom: 10px;
}

.pr-2{
	padding-right: 1rem;
}

@media (min-width: 600px) and (max-width: 900px) {
	.account-detail h2 {
		text-align: center;
	}
}
